/* load the default Redmine stylesheet */
@import url(../../../stylesheets/application.css);

/* add a logo in the header */
#header {
    background: #FF0000 url(../images/header_tile.png) 0px;
    padding-left: 5px;
    padding-top: 0px;
    height: 126px;
}

/* move the project menu to the right */
#main-menu li a {
    color: #6c6c6c;
}

#h_logo {
    background: url(../images/h_100.png);
    width: 110px;
    height: 100px;
    float: right;
    margin-top: -50px;
}

#quick-search {
    margin-right: 150px;
}

a.help {
    visibility: hidden;
}
