/* load the default Redmine stylesheet */
@import url(../../../stylesheets/application.css);

/* add a logo in the header */
#header {
    background: #FF0000 url(../images/header.png) no-repeat 2px;
    padding-left: 5px;
}

/* move the project menu to the right */
#main-menu { 
    left: auto;
    right: 0px;
}