/* load the default Redmine stylesheet */
@import url(../../../stylesheets/application.css);

/* add a logo in the header */
#header {
    background: #FF0000 url(../images/header_tile.png) 0px;
    padding-left: 5px;
    padding-top: 0px;
    height: 126px;
}

/* move the project menu to the right */
#main-menu li a {
    color: cc1a1a;
}